* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    //width: 144rem;
}

body {
    // width: ;
    padding-left: 5.7rem;
    padding-right: 5.7rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
