@font-face {
    font-family: Avenir;
    src: url(../font/AvenirLTStd-Book.otf);
}

.filter-by {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.6rem;
    /* identical to box height */

    text-transform: uppercase;

    color: #22232B;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.filter-cat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #22232B;
}

.price-sort {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.6rem;
    /* identical to box height */
    color: #22232B;
}

.img-cat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.3rem;
    text-transform: uppercase;
    color: #22232B;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.sec-main-txt {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 31px;
    color: #22232B;
}
// font-family: 'Roboto', sans-serif;

.powered-by-txt {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    color: #22232B;
}

// font-family: Lato;
// font-style: normal;
// font-weight: normal;
// font-size: 18px;
// line-height: 22px;
// color: #22232B;

/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px){
    /* STYLES GO HERE */
.sec-main-txt {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
    color: #22232B;
}

.powered-by-txt {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: .8rem;
    line-height: 1rem;
    color: #22232B;
}

.safari {
    height: .8rem;
    width: .8rem;
}

}
