@font-face {
    font-family: Avenir;
    src: url(../font/AvenirLTStd-Book.otf);
}

.filter-by {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.6rem;
    /* identical to box height */

    text-transform: uppercase;

    color: #22232B;

    mix-blend-mode: normal;
    opacity: 0.5;
}

.filter-cat {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #22232B;
}

.price-sort {
    font-family: Avenir;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */
    color: #22232B;
}