* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding-left: 5.7rem;
  padding-right: 5.7rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  height: 7.1rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__align--list {
  list-style: none;
  width: 23.2rem;
  padding-left: 4.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__align1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__align1--list {
  list-style: none;
  width: 10.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-a {
  font-family: sans-serif;
  font-size: 1.3rem;
  color: #22232B;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header-a:hover {
  background-color: #f5f5f5;
  padding: .5rem;
  -webkit-transform: scale(-0.5rem);
          transform: scale(-0.5rem);
  border-radius: 3px;
}

.icon-header {
  height: 2.4rem;
  width: 2.4rem;
}

.pegination {
  width: 72.2rem;
  height: 4.2rem;
  background-color: #ffffff;
  margin-top: 6.8rem;
}

.pegination__align {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (4.2rem)[11];
      grid-template-columns: repeat(11, 4.2rem);
  -ms-grid-rows: 4.2rem;
      grid-template-rows: 4.2rem;
  grid-gap: 2.6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.peg-a {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #22232B;
}

.peg-a:hover {
  background-color: #22232B;
  color: #ffffff;
}

.peg-default {
  background-color: #22232B;
  color: #ffffff;
}

.content {
  margin-top: 6.8rem;
}

.content .images {
  position: absolute;
  width: 100%;
}

.content .zindex {
  position: absolute;
  width: 19.1rem;
  height: 12.6rem;
  left: 0rem;
  top: 21.6rem;
  background-color: #ffffff;
}

.content .ht-align {
  margin-top: 3.3rem;
}

.content .align-txt {
  margin-top: .8rem;
}

.content .ratings {
  margin-top: 3.3rem;
}

.content .align-right {
  position: absolute;
  top: 27.3rem;
  right: 0;
}

.content .align-img-right {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  right: 0;
  top: 31.2rem;
}

.content__align {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-gap: 4rem;
}

.content__align--1 .filter .down-arrow {
  width: 8px;
  height: 4px;
  margin-right: 1.1rem;
  margin-top: 0.9rem;
}

.content__align--1 .filter__1 {
  margin-top: 4.4rem;
  height: 3.5rem;
  margin-bottom: 2.6rem;
}

.content__align--1 .filter__2 {
  height: 3.5rem;
  margin-bottom: 2.6rem;
}

.content__align--1 .filter__3 {
  height: 3.5rem;
  margin-bottom: 2.6rem;
}

.content__align--1 .filter__4 {
  height: 9.9rem;
}

.content__align--1 .filter__4 .range-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.8rem;
}

.content__align--1 .filter__4 .range-bar .range-line {
  width: 100%;
  margin-bottom: .75rem;
  border-bottom: 2px solid rgba(27, 27, 27, 0.1);
}

.content__align--1 .filter__4 .range-bar .knob {
  height: 1.6rem;
  width: 1.6rem;
}

.content__align--1 .filter__4 .price-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.8rem;
}

.content__align--1 .filter > *:not(:last-child) {
  border-bottom: 2px solid rgba(27, 27, 27, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__align > * {
  position: relative;
  background-color: #ffffff;
}

@font-face {
  font-family: Avenir;
  src: url(../font/AvenirLTStd-Book.otf);
}

.filter-by {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  /* identical to box height */
  text-transform: uppercase;
  color: #22232B;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.filter-cat {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.9rem;
  color: #22232B;
}

.price-sort {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.6rem;
  /* identical to box height */
  color: #22232B;
}

.img-cat {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 1.3rem;
  text-transform: uppercase;
  color: #22232B;
  mix-blend-mode: normal;
  opacity: 0.5;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* STYLES GO HERE */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* STYLES GO HERE */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* STYLES GO HERE */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* STYLES GO HERE */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* STYLES GO HERE */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* STYLES GO HERE */
}

/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* STYLES GO HERE */
}

/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  /* STYLES GO HERE */
}

/* iPhone 5 (landscape)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* STYLES GO HERE */
}

/* iPhone 5 (portrait)----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* STYLES GO HERE */
}
/*# sourceMappingURL=style.css.map */